div.container {
  width: 1080px;
}

.grid-1 {
  width: 45px;
}

.grid-2 {
  width: 90px;
}

.grid-3 {
  width: 135px;
}

.grid-4 {
  width: 180px;
}

.grid-5 {
  width: 225px;
}

.grid-6 {
  width: 270px;
}

.grid-7 {
  width: 315px;
}

.grid-8 {
  width: 360px;
}

.grid-9 {
  width: 405px;
}

.grid-10 {
  width: 450px;
}

.grid-11 {
  width: 495px;
}

.grid-12 {
  width: 540px;
}

.grid-13 {
  width: 585px;
}

.grid-14 {
  width: 630px;
}

.grid-15 {
  width: 675px;
}

.grid-16 {
  width: 720px;
}

.grid-17 {
  width: 765px;
}

.grid-18 {
  width: 810px;
}

.grid-19 {
  width: 855px;
}

.grid-20 {
  width: 900px;
}

.grid-21 {
  width: 945px;
}

.grid-22 {
  width: 990px;
}

.grid-23 {
  width: 1035px;
}

.grid-24 {
  width: 1080px;
}
