div.container {
  width: 960px;
}

.grid-1 {
  width: 40px;
}

.grid-2 {
  width: 80px;
}

.grid-3 {
  width: 120px;
}

.grid-4 {
  width: 160px;
}

.grid-5 {
  width: 200px;
}

.grid-6 {
  width: 240px;
}

.grid-7 {
  width: 280px;
}

.grid-8 {
  width: 320px;
}

.grid-9 {
  width: 360px;
}

.grid-10 {
  width: 400px;
}

.grid-11 {
  width: 440px;
}

.grid-12 {
  width: 480px;
}

.grid-13 {
  width: 520px;
}

.grid-14 {
  width: 560px;
}

.grid-15 {
  width: 600px;
}

.grid-16 {
  width: 640px;
}

.grid-17 {
  width: 680px;
}

.grid-18 {
  width: 720px;
}

.grid-19 {
  width: 760px;
}

.grid-20 {
  width: 800px;
}

.grid-21 {
  width: 840px;
}

.grid-22 {
  width: 880px;
}

.grid-23 {
  width: 920px;
}

.grid-24 {
  width: 960px;
}
